/* Cookie Message */
#cookie-msg{
	width:100%;
	line-height:40px;
	color:#F7F7F7;
	font-weight:700;
	text-align:left;
	display:none;
	background:url(../images/trans.png);
	position:fixed;
	bottom:0;
	z-index:9999;
}


#cookie-msg-inner{
	width:90%;
	margin:0 auto;
	overflow:hidden;
}


#cookie-msg-inner span{
	float:left;
	display:inline;
}


#cookieClose{
	float:right;
	display:inline;
	cursor:pointer;
	
}


#cookieClose:hover{
	
}


.cookmore{
	float:right;
	display:inline-block;
	font-weight:700;
	text-decoration:underline;
	margin-left:15px;
	color:#FFF !important;
}


.cookmore:hover{
	color:#FFF !important;
}

