/* CSS Document */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 

.imgcont{
	float:left;	
	display:block;
}
.contmid{
	float:left;	

}
.contright{
	float:right;	
}



}
