/* CSS Document */

@media only screen and (min-device-width: 100px) and (max-device-width: 700px) and (orientation:portrait) {
.imgcont{
	float:left;	
	display:block;
}
.contmid{
	float:left;	

}
.contright{
	
	display:none !important;	
} 

.positivepurple{
	display:none !important;
}

}
