#softphone {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 400px;
	width: 300px;
}

#softphone .widget-header {
	cursor: move;	
}

#softphone .widget-header .widget-actions i {
	margin-top: 10px;	
}

#softphone .dialpad {
	text-align: center;	
}

#softphone .btn-group {
	margin: 1px auto 0px 52px;
}

#softphone .btn-group .btn {
	width: 55px;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: bold;
}

#softphone #telno {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;	
	border: 1px solid #CFCFCF;
}

.answer-call {
	margin: 10px 0px 0px 0px;
	font-weight: bold;
	text-align: center;	
}

.answer-call h4 {
	margin: 10px 0px 10px 0px;
}
