﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DeleteContact.aspx.vb" Inherits="Profile" EnableEventValidation="false" ViewStateEncryptionMode="Never" EnableViewStateMac="false" EnableViewState="false" %>


