body
{ 	
	/*background-image: url("/img/new-home-slider-darker.jpg");*/
	background-color: #E7E7E7;
}

p {
    color: #000;
    font-family: "Open Sans";
}

label
{	
	color:#000;
}

/* unvisited link */
a:link {
    color: #000;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #000;
	text-decoration: none;
}

.account-container-login
{
	text-align:center;	
	margin-top:100px;
}

.account-container-login img
{
min-height:70px;
min-width:200px;
max-height:200px;
max-width:600px;
width:15%;
height:15%;
}

.login-fields {
	align:center; !important;
	margin-top:100px;
}

.login-fields label {
	display: none;
}

.field input {
	font-family: "Open Sans";
	font-size: 14px;	
	color: #1e1e1e;
	padding: 10px 10px 10px 10px;
	background-color: #fdfdfd;
	width: 295px;	
	border: 2px solid #CA006B;
	height: 30px;
	margin-bottom:30px;
	font-size:14pt;
}

.login-actions {
	text-align:center;	
	width: 100%;	
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-actions .btn {
	background-color: #DF017A;
	color:#fff;
	padding: 10px 30px 10px 30px;
	border: none;
	display: inline-block; 
	margin-top: 18px; 
	text-align:center;
	font-family: "Open Sans";
	font-size:14pt;
}

/** Text Under Box**/
.login-extra {
	display: block; 
	width: 300px; 
	margin: 1.5em auto;
	 color:#000;
	text-align: center;
	line-height: 19px; 

}

.login-Footer 
{
	
    padding: 1rem;
    text-align: center;
}

    .login-Footer p {
        position: relative;      
        cursor: pointer;
        vertical-align: middle;
        font-family: "Open Sans";       
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 15px;
        transition: all 0.2s ease;
        border: none;
        border-radius: 0px;
        margin-top: 20px;
    }
.resetpassword {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    font-family: "Open Sans";
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s ease;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
}
.login-Footer img {
    height: 10%;
    width: 10%;
}


.clsButton {
    position: relative;
    background-image: linear-gradient(-269deg, #E30079 1%, #4B2682 100%);
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    vertical-align: middle;
    font-family: "Open Sans";
    display: inline-block;
    padding: 14px 40px;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.2s ease;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
}
