.password-strength {
	margin: 8px 0 0 0;
	width: 270px;
	height: 20px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	padding: 2px;	
}

.password-strength .bar {
	width: 0;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: right;
	line-height: 16px;
	background-color: #CCC;
}

.password-strength .red {
	background-color: red;		
}

.password-strength .orange {
	background-color: orange;		
}

.password-strength .yellow {
	background-color: yellow;		
}

.password-strength .green {
	background-color: green;		
}

.strength {
	font: 600 0.8em 'Open Sans', sans-serif;
	padding: 0 4px 2px 0;
}