
/*------------------------------------------------------------------

[Reports Page Stylesheet]

	Project:		Bootstrap Landing Template
	Version:		1.0
	Last change:	05/30/2012
	Assigned to:	Rod Howard (rh)
	

-------------------------------------------------------------------*/

#big_stats 
{ 
	width: 100%; 
	display: table;
	margin-top: .5em;
	margin-bottom: 1em;
	
}

#big-stats-container .widget-content {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}

#big_stats .stat
{
	width: 13%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0 0 0 0;
	position: relative;
	
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}

#big_stats .stat:first-child {
	border-left: none;
}

#big_stats .stat:last-child {
	border-right: none;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 56px;
	font-weight: bold;
	color: #333;
	line-height: 1em;
}



@media all and (max-width: 950px) and (min-width: 1px) {
	
	#big_stats {
		display: block;
		margin-bottom: -40px;
	}
	
	#big_stats .stat {
		width: 49%;
		display: block;
		margin-bottom: 3em;
		float: left;
	}	
	
	#big_stats .stat:nth-child(2) {
		border-right: none;
	}
	
	#big_stats .stat:nth-child(3) {
		border-left: none;
	}
	
}

@media (max-width: 767px) {
	#big_stats .stat .value {
		font-size: 40px;
	}
}

.filters input.text {
	margin-top: 8px;
	font-size: 11px;
	position: relative;
	z-index: 999;
}

.sort-alpha, .sort-date, .sort-numeric
{
    cursor: pointer;
}

.sort-desc
{
    background-image: url(/img/icons/sort-desc.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.sort-asc
{
    background-image: url(/img/icons/sort-asc.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.row-highlight {
	 background-color: #FFFFB3!important;
}

table.quotes th.sorted
{
    background-color: #FF9A03;
    color: #FFFFFF;
}

table.quotes td.price
{
    background-color: #D8F0FA;
    padding: 10px;
}

table.quotes span.price
{
    font-size: 16px;
    font-weight: bold;
}

table.quotes span.priceSmall, span.priceSmall
{
    font-size: 12px;
    font-weight: bold;
}

table.quotes td.quotesTotal, div.quotesTotal
{
    font-size: 12px;
    color: #000000;
}

table.quotes .notes
{
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px 5px 5px 5px;
}