#uploadMask {
	width: 160px;
	display: block;
	overflow: hidden;
	height: 32px;
	margin-right: 5px;
	margin-bottom: 10px;
	position: relative;
}
#uploadMask input {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}
#uploadMask .button {
	margin-bottom: 10px;
	padding: 5px 15px;
	display: block;
}
