﻿<%@ Page Language="VB" AutoEventWireup="false" EnableViewState="false" CodeFile="httppost.aspx.vb" Inherits="HTTPPost" enableEventValidation="false" viewStateEncryptionMode ="Never" EnableViewStateMac="false" %>

<%  httpPost()%>
